/HBVLeitarvel/nbproject/private/
/HBVLeitarvel/build/
/HBVLeitarvel/dist/
HBVLeitarvel/nbproject/build-impl.xml
HBVLeitarvel/nbproject/genfiles.properties
HBVLeitarvel/nbproject/project.properties
HBVLeitarvel/nbproject/project.xml
