/HBVLeitarvel/nbproject/private/
/HBVLeitarvel/build/
/HBVLeitarvel/dist/
HBVLeitarvel/nbproject/build-impl.xml
HBVLeitarvel/nbproject/genfiles.properties
HBVLeitarvel/nbproject/project.properties
HBVLeitarvel/nbproject/project.xml
HBVLeitarvel/nbproject/build-impl.xml
HBVLeitarvel/nbproject/genfiles.properties
HBVLeitarvel/nbproject/project.properties
HBVLeitarvel/nbproject/project.xml
/HBVLeitarvel/src/Tours/dtsApp/build/
/HBVLeitarvel/src/Tours/dtsApp/dist/
/HBVLeitarvel/src/Tours/dtsApp/nbproject/private/